<section class = "main-content grid container d-flex", style = "width: 85%">
  <div class = "main-gallery-wrapper col-7 px-3">
    <%= render partial: "stories/stories_list", locals: {users: users_with_stories} %>
    <div id = "posts_feed">
      <%= render partial: 'shared/post', collection: feed_posts, as: :post%>
    </div>
  </div>
  <div class = "col px-4 pt-4 sidebar">
    <%= render partial: 'shared/sidebar', locals: {user: user, suggestions: suggestions}%>
  </div>
</section>
