<div>
  <%if user_signed_in? %>
    <% unless user_me?(user) %>
      <div id="follow_form">
      <% if current_user.following?(user) %>
        <%= render partial: 'users/unfollow', locals:{user: user} %>
      <% elsif current_user.requested?(user) %>
        <%= render partial: 'users/requested', locals:{user: user}%>
      <%else%>
        <%= render partial: 'users/follow', locals:{user: user} %>
      <% end %>
      </div>
    <% end %>
  <%else%>
    <div>
      <%= link_to 'Follow', new_user_session_path, class: "btn btn-primary btn-sm mx-2" %>
    </div>
  <% end %>
</div>
