<div class="profile-bio">
  <p class="profile-real-name"><b><%=user.fullname%></b></p>
  <p class="profile-bio"><%=user.bio%></p>
  <p class="profile-website"><a href = <%=user.website%>><%=user.website%></a></p>
</div>
