<% if user_me?(@user) %>
  <%= render 'user', user: @user%>

  <%if @user.posts.exists? %>
      <%= render partial: 'shared/grid', locals: {posts: @posts}%>
  <%else%>
    <div class = "text-center">

      <h6>Start capturing and sharing your moments.</h6>
    </div>
  <%end%>

<% else %>
  <%= render 'other_user', user: @user%>

  <div class = "">
    <%if public?(@user) %>
      <%if @user.posts.exists?  %>
        <%= render partial: 'shared/grid', locals: {posts: @posts}%>
      <%else%>
        <div class = "text-center">
          <h6>User has no posts yet!</h6>
        </div>
      <%end%>
    <%else%>
        <div class = "text-center">
          <h6>Profile is Private</h6>
        </div>
    <%end%>
  </div>
<%end%>

