<span class="px-2 d-flex align-items-center story-container">
  <div class="justify-content-center align-items-center text-center ">
     <%= link_to stories_user_path(user), data: {turbo: "true", turbo_frame: "story_detail"} do  %>
      <%=render partial: 'shared/avatar', locals: {user: user, size: 60, border: "border border-info border-3"}%>
      <p><%= user.username %></p>
    <%end%>
  </div>
</span>
