<div class = "story w-100 h-100 d-flex justify-content-center align-items-center">
  <div class = "story-inner h-100 d-flex align-items-center">
    <% if story.attachment.present? %>
      <% if story.attachment.image? %>
        <%= image_tag(story.attachment,class: "img-fluid d-block w-100 rounded-3", style: "max-height:800px") %>
      <%else%>
        <%= video_tag url_for(story.attachment), controls: true, class: "rounded-3" %>
      <%end%>
    <%else%>
      <div>
        <p>Attachment isn't available</p>
      </div>
    <%end%>
    <% if !story.body.nil? %>
      <div class = "story-body">
        <%= story.body %>
      </div>
    <%end%>
  </div>
</div>
