// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.comment-links{

  a{
    text-decoration: none;
    color: grey;
  }

}

.comment-date{
  color: grey;
  font-weight: 100;
  font-size:small
}
p {
  word-break: break-all;
  white-space: normal;
}
