// Place all the styles related to the Likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.like-button{
  text-align: start;

  p{
    margin: 0;
    padding: 0;
    text-align: start;
  }
}
.heart-icon{
  i{
    font-size:x-large;
  }
}
