.profile-stats{
  font-size: large;
  ul{
    padding:0;
    list-style-type: none;
    li{
      p{
        font-size: medium;
        a{
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}

.profile-real-name{
  font-size: medium;
  font-weight: bolder;
}

#story-detail-modal{
  .modal-content{
    background: rgb(37, 37, 37);
  }
  .carousel{
    width: 40%;
    margin: 0 auto;
  }
  .btn-white{
    color: white;
  }
  .modal-header{
    color: white;
    border-bottom: none;
  }
}


