// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.profile-stats{
  font-size: large;
  ul{
    padding:0;
    list-style-type: none;
    li{
      p{
        font-size: medium;
        a{
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}

.profile-real-name{
  font-size: medium;
  font-weight: bolder;
}




// Stories css
#story-detail-modal{
  .modal-content{
    background: rgb(37, 37, 37);
  }
  .carousel{
    width: 40%;
    margin: 0 auto;
  }
  .btn-white{
    color: white;
  }
  .modal-header{
    color: white;
    border-bottom: none;
  }

  // .carousel-indicators{
  //   font-size: large;
  //   button{
  //     width: 50px;
  //   }
  // }

}


